.show-title {
  display: inline-block;

  width: 80%;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;

  font-weight: 800;
  font-size: 32px;
  line-height: 44px;

  text-decoration: none;
  color: $copy-text;

  &:focus {
    overflow: visible;
  }
}

.mh-descr {
  max-height: 75px !important;
}

.mw-200 {
  max-width: 300px !important;
}

.p-card-body {
  padding: 0;
  margin-bottom: 10px;
}

.search-input {
  border-color: white;
  background: white;
  box-shadow: 0px 2px 12px rgba(119, 119, 121, 0.08);
  border-radius: 8px;
}

.cancel-btn {
  background-color: white;

  &:hover {
    background-color: $menu-color;
  }
}

.author {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1px;
  color: $copy-text
}

.author-job {
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.4px;
  color: $text;
}

.show-author {
  width: 100%;
}

.text-descr {
  margin-top: 20px;

  height: 300px;
  overflow: hidden;
  text-overflow: ellipsis;

  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.005em;
  color: $copy-text;

  &:focus {
    overflow: visible;
  }
}

.btn-more {
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.4px;
  color: $menu-color;

  &:hover {
    color: $hover-color;
  }
}

.bg-0 {
  border: none;
}

.rounded-6 {
  border-radius: 0.6rem;
}

.art-header {
  overflow: hidden;
  text-overflow: ellipsis;
}

.share-header {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: $text;
}

.mb {
  margin-bottom: 35px;
}

.link-back {
  color: black;
  text-decoration: none !important;
}

.arrw-back {
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
  margin-right: 25px;
  width: 30px;
  height: 30px;
}

.category {
  color: $category-color;

  background: rgba($category-color, 0.2);
}

.article-tag {
  padding: 2px 12px;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.4px;

  border-radius: 20px;
}

.subject {
  color: $subject-color;
    background: rgba($subject-color, 0.2);
}


.cat-tag {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.5px;

  color: $text;
}

@media (max-width: '2561px') {
  .fl-dir {
    flex-direction: column;
  }
  .same-article-2 {
    display: none;
  }
}

@media (max-width: '768px') {
  .fl-dir {
    flex-direction: row;
  }

  .same-article-1 {
    display: none;
  }

  .same-article-2 {
    display: block;
    text-align: center;
  }
}
