.downl-img {
  width: auto;
  height: 100%;
}

.downl-text {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.4px;
  color: $downl-text;

  text-align: left;
}

.google {
  width: 15%;
}

.btn-google {
  width: 50%;
}

.downl-main-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
  color: $downl-text;
}

.btn-all-art {
  background: $menu-color;
  border-color: $menu-color;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  // text-align: center;
  letter-spacing: 1.25px;

  &:hover {
    background-color: $hover-color;
    border-color: $hover-color;
  }
}
//
// @media (max-width: '2561px') and (max-height: '1789px') {
//   .downl-img {
//     width: auto;
//     height: 100%;
//   }
//
//   .downl-text {
//     font-size: 10px;
//     line-height: 12px;
//     letter-spacing: 0.4px;
//     color: $downl-text;
//
//     text-align: left;
//   }
//
//   .downl-main-text {
//     font-weight: bold;
//     font-size: 14px;
//     line-height: 16px;
//     letter-spacing: 1.25px;
//     color: $downl-text;
//   }
// }

@media (max-width: '1440px') {
  .btn-google {
    width: 85%;
  }
}

@media (max-width: '720px') {
  .downl-butt {
    margin: 5px 5px 15px 5px !important;
  }

  .downl-btn {
    display: block !important;
    justify-content: center;
  }
}

@media (max-width: '425px') {
  .btn-google {
    width: 100%;
  }
}
