$menu-color: #1CABE2;
$copy-text: #2D2926;
$downl-text: #FFFFFF;
$text: #777779;
$category-color: #FFC20E;
$hover-color: #4CC5F3;
$subject-color: #6A1E74;

.main-color {
  color: $menu-color !important;

  &:hover {
    color: $hover-color !important;
  }
}

.main-btn-color {
  color: $menu-color !important;

  &:hover {
    color: $downl-text !important;
  }
}


.form-br-color {
  border-color: $menu-color !important;

  &:hover {
    border-color: $hover-color !important;
  }
}

.form-btn-color {
  background-color: $menu-color;

  &:hover {
    border-color: $hower-color !important;
  }
}
