footer {
  background: linear-gradient(128.33deg, rgb(28, 171, 226, 0.57) 0%, rgba(28, 171, 226, 0) 85.29%);
}

.copy-text {
  font-size: 16px;
  line-height: 22px;
  color: $copy-text;
  opacity: 0.8;
}

.footer-img {
  position: relative;
  z-index: 2;
}

.bg-footer-img {
  position: absolute;
  margin-top: 70px;
  border-radius: 50%;
  width: 38%;
  height: 52%;
  left: 7%;
  z-index: 1;

  background: linear-gradient(261.34deg, #3AC0F3 2.71%, #4CC5F3 98.11%);
  filter: blur(21px);
  opacity: 0.8;

}

.br-top {
  background-color: $menu-color;
  opacity: 0.8;
}

@media (max-width: '1140px') {
  .copy-text {
    font-size: 10px;
  }

  .bg-footer-img {
    margin-top: 40px;
    width: 30%;
    height: 40%;
    left: 6%;

  }
}
@media (max-width: '991px') {
  .foot-el {
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .bg-footer-img {
    margin-top: 70px;
    width: 65%;
    height: 55%;
    left: 9%;

  }
}
@media (max-width: '720px') {
  .bg-footer-img {
    margin-top: 20px;
    height: 35%;
    left: 6%;

  }
}

@media (max-width: '424px') {
  .bg-footer-img {
    margin-top: 15px;
    height: 33%;

  }
}

@media (max-width: '374px') {
  .bg-footer-img {
    height: 27%;
  }
}
