.bg-1 {
  position: absolute;
  width: 35%;
  height: 650%;
  border-radius: 50%;
  background-color: $menu-color;
  left: -6%;
  opacity: 0.1;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.bg-2 {
  position: absolute;
  width: 12%;
  height: 170%;
  left: 23%;
  top: 85%;
  border-radius: 50%;
  background-color: $menu-color;
  opacity: 0.1;
  filter: blur(20px);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.bg-3 {
  position: absolute;
  width: 3.8%;
  height: 58%;
  left: 88%;
  top: 170%;
  border-radius: 50%;
  background-color: $menu-color;
  opacity: 0.2;
  filter: blur(4px);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.bg-4 {
  position: absolute;
  width: 8.5%;
  height: 128%;
  left: 53%;
  top: 520%;
  border-radius: 50%;
  background-color: $menu-color;
  opacity: 0.3;
  filter: blur(20px);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.navbar-light, .nav-link, .active {
  color: $menu-color !important;
}

.nav-link {
  &:after {
    content: '';
    width: 30%;
    height: 2px !important;
    background: $menu-color;
    display: block;
    margin-top: 5px;
    margin-left: 35%;
    transform: scale(0, 0);
  }
  &.active:after {
    transform: scale(1.5, 0.5);
  }
}

.btn-br {
  border: 0;
}

.menu {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: $menu-color;
  opacity: 0.8;

  &:hover {
    color: $menu-color;
  }
}

@media (min-width: '1441px') {
  .bg-2 {
    width: 10%;
  }

  .bg-3 {
    width: 3%;
    left: 82%;
    top: 100%;
  }

  .bg-4 {
    height: 145%;
    left: 50%;
  }
}

@media (max-width: '1140px') {
  .bg-1 {
    width: 38%;
    height: 450%;
  }

  .bg-2 {
    width: 15%;
    height: 150%;
  }

  .bg-3 {
    width: 5%;
    top: 150%;
  }

  .bg-4 {
    width: 12%;
    left: 38%;
    top: 580%;
  }

  .menu-link {
    margin-left: 8px !important;
  }

  .menu {
    padding: 8px;
  }
}

@media (max-width: '991px') {
  .bg-1 {
    width: 60%;
    height: 500%;
  }

  .bg-2 {
    left: 45%;
    top: 50%;
    width: 20%;
  }

  .bg-3 {
    width: 7%;
    left: 73%;
    top: 470%;
  }

  .bg-4 {
    width: 14%;
    left: 10%;
    top: 900%;
  }

  .nav {
    margin: 0 !important;
    padding: 0 !important;
    display: block !important;
    text-align: center;
  }

  .nav-link {
    &.active:after {
      transform: scale(0.2, 0.5);
    }
  }
}

@media (max-width: '720px') {
  .bg-1 {
    width: 70%;
    height: 435%;
    left: -8%;
  }

  .bg-2 {
    left: 50%;
    width: 27%;
  }

  .bg-3 {
    width: 8%;
    height: 50%;
    left: 82%;
    top: 520%;
  }

  .bg-4 {
    width: 20%;
    height: 100%;
    left: 3%;
  }

  .nav-brand {
    width: 80%;
  }
}

@media (max-width: '424px') {
  .bg-1 {
    width: 80%;
    height: 395%;
    left: -10;
  }

  .bg-2 {
    left: 55%;
    top: 70%;
    width: 35%;
  }

  .bg-3 {
    width: 9.5%;
    top: 720%;
  }

  .bg-4 {
    display: none;
  }
}

@media (max-width: '374px') {
  .bg-1 {
    width: 85%;
    height: 370%;
    left: -12;
  }

  .bg-3 {
    width: 12%;
  }
}
