.bg-1 {
  position: absolute;
  width: 501px;
  height: 501px;
  border-radius: 50%;
  background-color: $menu-color;
  top: -15%;
  left: -5%;
  opacity: 0.1;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.bg-2 {
  position: absolute;
  width: 148px;
  height: 148px;
  left: 25%;
  top: 8%;
  border-radius: 50%;
  background-color: $menu-color;
  opacity: 0.1;
  filter: blur(20px);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.bg-3 {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 86%;
  top: 155%;
  border-radius: 50%;
  background-color: $menu-color;
  opacity: 0.2;
  filter: blur(4px);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.bg-4 {
  position: absolute;
  width: 125px;
  height: 125px;
  left: 53%;
  top: 450%;
  border-radius: 50%;
  background-color: $menu-color;
  opacity: 0.3;
  filter: blur(20px);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.navbar-light, .nav-link, .active {
  color: $menu-color !important;
}

.nav-link {
  &:after {
    content: '';
    width: 30%;
    height: 2px !important;
    background: $menu-color;
    display: block;
    margin-top: 5px;
    margin-left: 35%;
    transform: scale(0, 0);
  }
  &.active:after {
    transform: scale(1.5, 0.5);
  }
}

.btn-br {
  border: 0;
}

.menu {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: $menu-color;
  opacity: 0.8;

  &:hover {
    color: $menu-color;
  }
}

.inp {
  width: 50% !important;
}

@media (max-width: '2561px') and (max-height: '1789px') {
  .bg-1 {
    width: 880px;
    height: 880px;
    left: -3%;
    top: -24%;
  }

  .bg-2 {
    width: 200px;
    height: 200px;
    left: 27%;
    top: 3%;
  }

  .bg-3 {
    width: 95px;
    height: 95px;
    left: 83%;
    top: 180%;
  }

  .bg-4 {
    width: 200px;
    height: 200px;
    top: 650%;
  }
}

@media (max-width: '1920px') and (max-height: '1080px') {
  .bg-1 {
    width: 655px;
    height: 655px;
  }

  .bg-2 {
    width: 180px;
    height: 180px;
    left: 29%;
    top: 8%;
  }

  .bg-3 {
    width: 72px;
    height: 72px;
    left: 82%;
    top: 150%;
  }

  .bg-4 {
    width: 180px;
    height: 180px;
    left: 50%;
    top: 460%;
  }
}

@media (max-width: '1742px') and (max-height: '1192px') {
  .bg-1 {
    width: 620px;
    height: 620px;
  }

  .bg-2 {
    left: 27%;
    top: 7%;
  }

  .bg-3 {
    width: 75px;
    height: 75px;
  }

  .bg-4 {
    width: 150px;
    height: 150px;
    top: 470%;
  }
}

@media (max-width: '1440px') and (max-height: '1788px') {
  .bg-1 {
    width: 520px;
    height: 520px;
    left: -5%;
    top: -10%;
  }

  .bg-2 {
    width: 155px;
    height: 155px;
    left: 27%;
    top: 4%;
  }

  .bg-3 {
    width: 55px;
    height: 55px;
    left: 86%;
  }

  .bg-4 {
    width: 130px;
    height: 130px;
    left: 51%;
    top: 450%;
  }
}

@media (max-width: '1440px') and (max-height: '1192px') {
  .bg-1 {
    left: -6%;
    top: -15.5%;
  }

  .bg-2 {
    width: 145px;
    height: 145px;
    left: 26%;
    top: 5.5%;
  }
}

@media (max-width: '1440px') and (max-height: '993px') {
  .bg-1 {
    left: -7%;
    top: -19%;
  }
}

@media (max-width: '1307px') and (max-height: '894px') {
  .bg-1 {
    width: 490px;
    height: 490px;
    top: -17%;
  }

  .bg-2 {
    width: 155px;
    height: 155px;
    left: 27%;
    top: 7%;
  }

  .bg-3 {
    width: 65px;
    height: 65px;
    left: 84%;
    top: 135%;
  }

  .bg-4 {
    width: 120px;
    height: 120px;
    left: 52%;
    top: 400%;
  }
}

@media (max-width: '1045px') and (max-height: '715px') {
  .ms-5 {
    margin-left: 14.8px !important;
  }

  .bg-1 {
    width: 400px;
    height: 400px;
    // left: -3%;
    top: -15%;
  }

  .bg-2 {
    width: 125px;
    height: 125px;
    top:11%;
  }

  .bg-3 {
    width: 55px;
    height: 55px;
    left: 87.5%;
    top: 145%;
  }

  .bg-4 {
    width: 110px;
    height: 110px;
    left: 46%;
    top: 460%;
  }
}

@media (max-width: '1024px') and (max-height: '1788px') {
  .bg-1 {
    width: 370px;
    height: 370px;
    top: -7%;
    left: -3%;
  }

  .bg-2 {
    width: 90px;
    height: 90px;
    top: 5%;
    left: 28%;
  }

  .bg-3 {
    width: 45px;
    height: 45px;
    left: 88%;
    top: 145%;
  }

  .bg-4 {
    width: 95px;
    height: 95px;
    left: 47%;
    top: 420%;
  }

  .menu-link {
    margin-left: 8px !important;
  }

  .menu {
    padding: 8px;
  }
}

@media (max-width: '1024px') and (max-height: '894px') {
  .bg-1 {
    width: 400px;
    height: 400px;
    top: -10%;
    left: -6%;
  }

  .bg-2 {
    width: 100px;
    height: 100px;
    top: 11%;
  }

  .bg-3 {
    top: 150%;
    left: 89%;
  }
}

@media (max-width: '1024px') and (max-height: '715px') {
  .bg-2 {
    width: 110px;
    height: 110px;
    top: 14%;
  }
}

@media (max-width: '871px') and (max-height: '596px') {
  .nav-link {
    &:after {
      width: 3%;
      margin-top: 5px;
      margin-left: 48%;
    }
  }

  .bg-1 {
    width: 500px;
    height: 500px;
    // left: -3%;
    top: -30%;
  }

  .bg-2 {
    width: 138px;
    height: 138px;
    left: 48%;
    top:8%;
  }

  .bg-3 {
    left: 70%;
    top: 510%;
  }

  .bg-4 {
    width: 125px;
    height: 125px;
    left: 10%;
    top: 845%;
  }
}


@media (max-width: '768px') and (max-height: '1788px') {
  .bg-1 {
    top: -10%;
  }

  .bg-2 {
    width: 148px;
    height: 148px;
    left: 55%;
    top: 2%;
  }

  .bg-3 {
    left: 73%;
    top: 570%;
  }

  .bg-4 {
    // width: 14%;
    left: 7%;
    top: 955%;
  }

  .nav {
    margin: 0 !important;
    padding: 0 !important;
    display: block !important;
    text-align: center;
  }

  .nav-link {
    &.active:after {
      transform: scale(0.2, 0.5);
    }
  }
  .form-control {
    width: 45%;
  }
}

@media (max-width: '768px') and (max-height: '1192px') {
  .bg-1 {
    top: -16%;
  }

  .bg-2 {
    top: 3%;
  }

  .bg-3 {
    top: 590%;
  }
}

@media (max-width: '768px') and (max-height: '894px') {
  .bg-1 {
    top: -21%;
  }

  .bg-2 {
    left: 50%;
    top: 6%;
  }
}

@media (max-width: '768px') and (max-height: '715px') {
  .bg-1 {
    top: -27%;
  }
}

@media (max-width: '768px') and (max-height: '596px') {
  .bg-1 {
    top: -41%;
  }

  .bg-2 {
    width: 118px;
    height: 118px;
    left: 53%;
    top: 4%;
  }
}

@media (max-width: '425px') and (max-height: '1788px') {
  .bg-1 {
    width: 425px;
    height: 425px;
    left: -25%;
  }

  .bg-2 {
    left: 58%;
  }

  .bg-3 {
    width: 40px;
    height: 40px;
    left: 80%;
    top: 690%;
  }

  .bg-4 {
    display: none;
  }

  .nav-brand {
    width: 80%;
  }
}

@media (max-width: '425px') and (max-height: '894px') {
  .bg-1 {
    width: 350px;
    height: 350px;
    left: -10%;
    top: -10%;
  }

  .bg-2 {
    left: 55%;
    top: 5%;
  }

  .bg-3 {
    top: 650%;
  }
}

@media (max-width: '425px') and (max-height: '596px') {
  .bg-1 {
    top: -18%;
  }

  .bg-2 {
    left: 63%;
    top: 9%;
  }

  .bg-3 {
    top: 630%;
  }
}

@media (max-width: '375px') and (max-height: '1788px') {
  .bg-1 {
    width: 310px;
    height: 310px;
    left: -8%;
    top: -5%;
  }

  .bg-2 {
    width: 100px;
    height: 100px;
    left: 60%;
  }

  .bg-3 {
    width: 35px;
    height: 35px;
    left: 83%;
    top: 830%;
  }
}

@media (max-width: '375px') and (max-height: '1192px') {
  .bg-1 {
    top: -8%;
  }

  .bg-2 {
    width: 90px;
    height: 90px;
    left: 62%;
    top: 6%;
  }

  .bg-3 {
    left: 80%;
    top: 835%;
  }
}

@media (max-width: '375px') and (max-height: '894px') {
  .bg-2 {
    top: 9%;
  }

  .bg-3 {
    width: 40px;
    height: 40px;
    top: 820%;
  }
}

@media (max-width: '375px') and (max-height: '715px') {
  .bg-2 {
    top: 12%;
  }

  .bg-3 {
    width: 35px;
    height: 35px;
    top: 750%;
  }
}

@media (max-width: '375px') and (max-height: '596px') {
  .bg-1 {
    width: 290px;
    height: 290px;
    top: -12%;
  }

  .bg-2 {
    width: 80px;
    height: 80px;
    top: 9%;
  }
}

@media (max-width: '320px') and (max-height: '1788px') {
  .bg-1 {
    width: 278px;
    height: 278px;
  }

  .bg-2 {
    display: none;
  }

  .bg-3 {
    display: none;
  }
}
