// GENERAL
.header-second {
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
  color: $copy-text;
}

.text {
  font-size: 16px;
  line-height: 22px;
}

.rounded-6 {
  border-radius: 0.6rem;
}

// SECTION START
.start {
  width: 100%;
  height: 100%;
  border-radius: 0 0 70% 70%;
  background-color: white;
}

.mt {
  margin-top: 135px;
}

.header-text {
  font-weight: 800;
  font-size: 40px;
  line-height: 54px;
  color: $menu-color;
  opacity: 0.8;
}

.z-ind {
  position: relative;
  z-index: 2;
}

.bg-start {
  position: absolute;
  z-index: 1;
  width: 6%;
  height: 8%;
  left: 11%;
  top: 32%;
  border-radius: 50%;
  background-color: $menu-color;
  opacity: 0.2;
  filter: blur(7px);
  transform: rotate(-180deg);
}

.tx-pr {
  color: $copy-text;
  opacity: 0.8;
}

.downl-img {
  width: auto;
  height: 100%;
}

.downl-text {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.4px;
  color: $downl-text;

  text-align: left;
}

.downl-main-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
  color: $downl-text;
}

.st-img {
  position: relative;
  z-index: 2;
}

.bg-start-img {
  position: absolute;
  border-radius: 50%;
  width: 36%;
  height: 53%;
  right: 8%;
  top: 15%;
  z-index: 1;

  background: linear-gradient(261.34deg, #3AC0F3 2.71%, #4CC5F3 98.11%);
  opacity: 0.8;
}

@media (min-width: '1441px') {
  .bg-start {
    width: 4.55%;
    height: 8%;
    left: 13%;
    top: 33%;
  }

  .bg-start-img {
    width: 32%;
    height: 58%;
    right: 12%;
    top: 17%;
  }
}

@media (max-width: '1024px') {
  .start {
    border-radius: 0 0 45% 45%;
  }

  .mt {
    margin-top: 50px;
  }

  .bg-start {
    width: 7.5%;
    left: 10%;
    top: 27%;
  }

  .me-5 {
    margin: 0 !important;
  }

  .bg-start-img {
    width: 51%;
    height: 68%;
    right: 6%;
    top: 15%;
  }
}

@media (max-width: '960px') {
  .start {
    border-radius: 0 0 32% 32%;
  }

  .bg-start {
    width: 10%;
    left: 16%;
    top: 28%;
  }

  .me-5 {
    margin-left: 70px !important;
  }

  .bg-start-img {
    width: 65%;
    height: 65%;
    right: 18%;
    top: 50%;
  }

  .start-md {
    justify-content: center !important;
    text-align: center;
  }
}

@media (max-width: '720px') {
  .start {
    border-radius: 0 0 25% 25%;
  }

  .bg-start {
    width: 12%;
    height: 6%;
    left: 20%;
    top: 21.5%;
  }

  .me-5 {
    margin-left: 60px !important;
  }

  .bg-start-img {
    width: 78%;
    height: 50%;
    right: 12%;
    top: 46%;
  }

  .header-text {
    font-size: 35px;
    line-height: 49px;
  }

  .downl-btn {
    display: block !important;
    justify-content: center;
  }

  .downl-butt {
    margin: 5px 5px 15px 5px !important;
  }
}

@media (max-width: '424px') {
  .start {
    border-radius: 0 0 18% 18%;
  }

  .bg-start {
    width: 13%;
    top: 20%;
  }


  .me-5 {
    margin-left: 50px !important;
  }

  .bg-start-img {
    width: 78%;
    height: 43%;
    right: 12%;
    top: 61.5%;
  }
}

@media (max-width: '374px') {
  .start {
    border-radius: 0 0 0 0;
  }

  .bg-start {
    width: 14%;
    left: 17%;
    top: 18%;
  }

  .me-5 {
    margin-left: 40px !important;
  }

  .bg-start-img {
    width: 78%;
    height: 33%;
    right: 12%;
    top: 65%;
  }
}

// SECTION ABOUT

.text-about {
  color: $text !important;
}

.about-header {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.15px;
  color: $copy-text;
}

@media (max-width: '960px') {
  .about {
    margin-bottom: 120px;
  }

  .start-md, .about-point {
    justify-content: center !important;
    text-align: center;
  }
}

// ADVISES

.advises {
  padding-top: 12%;
  width: 100%;
  height: 110%;
  border-radius: 70% 70% 0 0;
  background-color: white;
}

.adv {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: $copy-text;
}

a {
  text-decoration: none !important;
}

.adv-mb {
  margin-bottom: 100px;
}

@media (max-width: '1024px') {
  .advises {
    border-radius: 45% 45% 0 0;
    height: 100%;
  }
}

@media (max-width: '960px') {
  .advises {
    border-radius: 32% 32% 0 0;
  }

  .advs {
    margin-bottom: 15px;
  }
}

@media (max-width: '720px') {
  .advises {
    border-radius: 25% 25% 0 0;
  }
}

@media (max-width: '424px') {
  .advises {
    border-radius: 18% 18% 0 0;
  }
}

@media (max-width: '374px') {
  .advises {
    border-radius: 0 0 0 0;
  }
}

//...

.btn-more {
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.4px;
  color: $menu-color;
}

.btn-all-art {
  background: $menu-color;
  border-color: $menu-color;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  // text-align: center;
  letter-spacing: 1.25px;
}
