section {
  padding-top: 50px;
}

.imgs {
  width: 100%;
}

@media (min-width: "1441px") {

  .container {
    max-width: 80%;
  }
}

.page {
  margin-top: 45px;
}

.main-page {
  background: rgb(28, 171, 226, 0.1);
}
